<%= @survey.name %>

<%= form_for @survey do |f| %>
  <% if @survey.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @survey.questions.each do |question| %>
        <%= question.content %>
        <%= question.id %>
          <%= f.fields_for :results do |f| %>
            <%= f.collection_select(:score, Answer.find(:all, :conditions => [ "question_id = ?", question.id ]), :value, :content ) %>
            <%= f.hidden_field :question_id, :value => question.id %>
            <%= f.hidden_field :user_type, :value => 1 %>
          <% end %>
        <br/>
        <hr />
  <% end %>

  <div class="actions">
    <%= submit_tag "Create" %>
  </div>
<% end %>
